.header {
  font-size: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}
.food-icon {
  font-size: 4rem;
  margin-left: 1.3rem;
}
.cart-button {
  flex-grow: 1;
  text-align: right;
}
