.image {
  width: 100%;
  height: 25rem;
  z-index: 0;
  margin-top: 9rem;
  overflow: hidden;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 768px) {
  .image {
    height: 40rem;
  }
}
