.btn {
  font-size: 1.2rem;
  padding: 0.8rem;
  border-radius: 0.5rem;
  border: none;
  font-weight: bold;
}
.order {
  background-color: #fc8019;
  color: #fff;
}
.primary {
  color: #60b246;
}
.secondary:hover {
  background-color: red;
  color: #fff;
}
.btn:hover {
  cursor: pointer;
}
